<a href="https://colab.research.google.com/github/ProfAI/programmazione-con-python/blob/main/2%20-%20Le%20Variabili%20e%20i%20Tipi%20di%20Dati/io_and_var.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabili, tipi di dati e funzioni di base

## Input e Output

Iniziamo dalle basi delle basi, input e output. Con Python possiamo stampare del testo su schermo utilizzando la funzione **print**.

In [ ]:
print("Ciao mondo") # stampiamo del testo
print(5) # stampiamo un numero interop
print(0.5) # stampiamo un numero con la virgola

Ciao mondo
5
0.5

Possiamo eseguire le operazioni di base tra dei valori numerici

In [ ]:
# somma
print(5+3)

# sottrazione
print(4-1)

# prodotto
print(3*2)

# divisione
print(4/2)

# resto
print(5%2)

# unire due stringhe
print("5"+"2")

Per qacquisire delle informazioni in input da tastiera possiamo utilizzare la funzione **input**.

In [ ]:
name = input("Come ti chiami ? ")
print("Felice di conoscerti",name)

L'informazione immessa è stata immagazzinata all'interno della variabile *name*.

## Le Variabili
Possiamo considerare le variabili come dei contenitori in grado di contenere diversi tipi di informazioni, il contenuto può essere modificato o rimpiazzato in ogni momento.

In [ ]:
num = 5
print(num)

5

In [ ]:
word = "ciao"
print(word)

ciao

In [ ]:
cat = input("Inserisci un nome per il tuo nuovo gatto: ")
print(cat,"è il tuo nuovo padrone")

Inserisci un nome per il tuo nuovo gatto: elon
elon  è il tuo nuovo padrone

## Tipi di Dati
Python include moltissimi tipi di dati differenti, i principali sono:
 * **Interi**: numeri interi (es: 5, 10,  123)
 * **Float**: numeri in virgola mobile (es: 4.34, 5.31, 0.17)
 * **Stringhe**: del testo (es: "ciao", "abc", "Yo, come butta fratello ?")
 * **Booleani**: possono avere solo due valori vero/falso (True/False)

In [ ]:
var = "ciao"
type(var)

str

Python è un linguaggio **non tipizzato**, questo vuol dire che non serve definire a priori il tipo di dato che una variabile dovrà contenere, ma anzi è anche possibile riassegnare una stessa variabile ad un nuovo tipo di dato.

In [ ]:
var = 5 # Intero
var = 4.15 # Float
var = "ciao ciao" # Stringa
var = True # Boolean

type(var)

bool

## Casting
Il casting è un'operazione che consiste nel convertire un tipo di dato in un'altro, in Python può essere eseguito con un'operazione del tipo *datatype(var)*.

#### ES. 1: Casting da intero a float

In [ ]:
var = 1 # intero
var = float(var) # da intero a float
print(var, type(var))

1.0 <class 'float'>

#### ES. 2: Casting da float a intero

In [ ]:
var = 1.5 # float
var = int(var) # da float a intero
print(var, type(var))

1 <class 'int'>

#### ES. 3: Casting da intero a stringa

In [ ]:
var = 5 # intero
var = str(var) # da intero a stringa
print(var, type(var))

5 <class 'str'>

#### ES. 4: Casting da stringa a intero

In [ ]:
var = "5" # stringa
var = int(var) # da stringa a intero
print(var, type(var))

5 <class 'int'>

#### ES. 5: Casting da stringa a intero fatto male

Se proviamo a convertire una stringa, che non contiene un numero, in un numero, otterremo un'eccezione. Le eccezioni sono i segnali che Python ci manda per comunicarci che si è verificato un'errore. Parleremo delle eccezioni nel dettaglio più avanti.

In [ ]:
var = "boh" # stringa che non contiene un numero
var = int(var) # da stringa a intero, qui si scatena un'eccezione
print(var, type(var))

ValueError: ignored

## Formattazione
La formattazione ci permette di inserire cifre e variabili all'interno di stringhe in un formato da noi desiderato. L'esempio più classico di formattazione è quello eseguito con l'operatore di formattazione %d.

In [1]:
age = 25
print("Hai %d anni" % age)

Hai 25 anni

Il carattere dopo l'operatore di formattazione indica il tipo di variabile, i principali sono:

* **%d**: numero intero
* **%f**: numero in virgola mobile
* **%s**: stringa

[Qui](https://docs.python.org/3/library/stdtypes.html#old-string-formatting) puoi trovare la lista completa.

Possiamo anche utilizzare più operatori di formattazione all'interno di una stringa.

In [ ]:
my_name = input("Come ti chiami ? ")
my_age = input("Quanti anni hai ? ")
my_age = int(my_age)
my_born = 2019-my_age

In [ ]:
print("Il tuo nome è %s hai %d anni, quindi sei nato nel %d" % (my_name, my_age, my_born))

Come ti chiami ? Giuseppe
Quanti anni hai ? 25
Il tuo nome è Giuseppe hai 25 anni, quindi sei nato nel 1994

**NOTA BENE** la funzione input ritorna una stringa, quindi abbiamo dovuto usare il casting per convertirla in un'intero
<br><br>
Nel caso di un float, possiamo pure definirne approssimarlo, definendone la precisione prima della *f*.

In [2]:
my_height = float(input("Inserisci la tua altezza in metri: "))
my_weight = float(input("Inserisci il tuo peso in chilogrammi: "))

print("Altezza=%.2f  Peso=%.1f" % (my_height, my_weight))

Inserisci la tua altezza in metri: 1.75
Inserisci il tuo peso in chilogrammi: 80.520
Altezza=1.75  Peso=80.5

Un'altra soluzione ancora, quella consigliata per Python 3, consiste nell'utilizzare il metodo lo *format*.

In [ ]:
print("Il tuo nome è {name} hai {age} anni, quindi sei nato nel {born}".format(name=my_name, age=my_age, born=my_born))

Come ti chiami ? Giuseppe
Quanti anni hai ? 25
Il tuo nome è Giuseppe hai 25 anni, quindi sei nato nel 1994

Per quanto riguarda la precisione dei float, possiamo inserirla tra le parentesi graffe dopo il nome del placeholder, separandola con :

In [13]:
print("Altezza={height:.2f} Peso={weight:.1f}".format(height=my_height, weight=my_weight))

Altezza=1.75 Peso=80.5

Se usiamo una versione di Python superiore alla 3.6 abbiamo anche un'altro modo per formattare le stringhe, chiamato **f-strings**

In [ ]:
print(f"Il tuo nome è {my_name} hai {my_age} anni, quindi sei nato nel {my_born}")

Il tuo nome è Giuseppe hai 25 anni, quindi sei nato nel 1994

La precisione dei float funziona esattamente come per il metodo format

In [9]:
print(f"Altezza={my_height:.2f} Peso={my_weight:.1f}")

Altezza=1.75 Peso=80.5